# Executables
submission
test_qr
test_otp

# Build files
secret
scanme.jpg
log
*.o

# QRCodeGen build files
qrgen/.deps
qrgen/libqrcodegen.a
qrgen/qrcodegen-demo
qrgen/qrcodegen-test
qrgen/qrcodegen-worker
